/* BASE STYLES*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;

/* GRID */

}
#about #work #contact {
    height: 600px;
}
.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/* HEADER */

header {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
    color: #bbc085;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #9b9b9b;
    padding-left: 80px;
}

header h2 {
    width: 970px;
    clear: right;
    font-family: 'Lora', serif;
    font-size: 76px;
    line-height: normal;
    color: #2b2b2b;
    padding: 20px 0 20px 25px;
}

header h2 span {
    color: #9b9b9b;
}

/* ABOUT */

#about .full-width {
    padding: 80px 0;
}

#about h2 {
        font-family: 'Lora', serif;
        font-size: 36px;
        padding-left: 50px;
}

#about p {
    font-family: 'sourcesanspro', sans-serif;
    font-size: 21px;
    line-height: 40px;
    color: #7f7f7f;
    padding-left: 50px;
    padding-right: 50px;
}

/* WORK */

#work {
    background-color: #f9ceb7;
}

#work h3 {
    font-family: 'sourcesanspro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding: 0 150px 30px 150px;
}

/* CONTACT */

#contact {
    background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-image {
    margin: 118px 35px 112px 25px;
    border-style: solid;
    border-width: 12px;
    border-color: #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact #envelope {
    padding: 0 10px 0 115px
}

#contact h2 {
    margin-top: 118px;
    font-family: lora serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;    
}

#contact #email-header {
    font-family: sourcesanspro sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}










































